---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props as Props;
const ogImageUrl = new URL("/favicon.svg", Astro.url).toString();
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css"
/>
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="description" content={description} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url.toString()} />
<meta property="og:image" content={ogImageUrl} />
<title>{title}</title>
